
*.tmp
*.cmd
*.dtout
*.d
/.thinlto-cache
*.lds
/drivers/crypto/fmp
arch/arm64/boot/dts/samsung/r11s/*.dtbo.reverse.dts
/arch/arm64/boot/dts/allwinner
arch/arm64/boot/dts/exynos/board/erd/s5e8825-erd8825.dtbo.reverse.dts
arch/arm64/boot/dts/exynos/board/erd/s5e8825-erd8825_r10.dtbo.reverse.dts
arch/arm64/boot/dts/exynos/board/erd/s5e8825-erd8825_r11.dtbo.reverse.dts
arch/arm64/boot/dts/exynos/board/erd/s5e9925-erd9925.dtbo.reverse.dts
arch/arm64/boot/dts/exynos/board/erd/s5e9925-erd9925_r13.dtbo.reverse.dts
arch/arm64/boot/dts/exynos/board/erd/s5e9925-erd9925_r18.dtbo.reverse.dts
arch/arm64/boot/dts/exynos/board/erd/s5e9925_evt0-erd9925.dtbo.reverse.dts
arch/arm64/boot/dts/exynos/board/erd/s5e9925_evt0-erd9925_r11.dtbo.reverse.dts
arch/arm64/boot/dts/exynos/board/erd/s5e9925_evt0_s5300-erd9925.dtbo.reverse.dts
arch/arm64/boot/dts/exynos/board/erd/s5e9925_evt0_s5300-erd9925_r11.dtbo.reverse.dts
arch/arm64/boot/dts/exynos/board/erd/s5e9925_s6165-erd9925.dtbo.reverse.dts
arch/arm64/boot/dts/exynos/board/erd/s5e9925_s6165-erd9925_r17.dtbo.reverse.dts
*.dts
*.dtbo
